{{ form_start(form) }}
<div class="{{ form_errors(form) ? 'form-group has-error has-danger' : 'form-group' }}">
    <label>{{ form_label() }}</label>

    {{  form_widget(form) }}

{%  if(form_errors(form)) %}
    <div class="help-block with-errors">
        <ul class="list-unstyled">
            <li>Rellene este campo.</li>
        </ul>
    </div>
{%  endif %}

</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}