<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ entityNames[1] }} - Stockify</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ appURL }}/assets/images/favicon.ico" />
    <link rel="stylesheet" href="{{ appURL }}/assets/css/backend-plugin.min.css">
    <link rel="stylesheet" href="{{ appURL }}/assets/css/backend.css?v=1.0.0">
    <link rel="stylesheet" href="{{ appURL }}/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="{{ appURL }}/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="{{ appURL }}/assets/vendor/remixicon/fonts/remixicon.css">
</head>
<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->