
{% include 'base/header.html.twig' %}
{% include 'base/nav-sidebar.html.twig' %}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>

                            <h4 class="mb-3">Editar {{ entityNames[0] }} </h4>
                    </div>
                </div>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="{{errors is not empty and errors.name is defined ? 'form-group has-error has-danger' : 'form-group'  }}">
            <label>Nombre *</label>
            {{ form_widget(form.name, { 'required':'','name':'product[name]','id':'product_name','attr': {'class': 'form-control'} }) }}

            {% if(errors is not empty and errors.name is defined) %}
                <div class="help-block with-errors">
                    <ul class="list-unstyled">
                        <li>Rellene este campo.</li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="{{errors is not empty and errors.category is defined ? 'form-group has-error has-danger' : 'form-group'  }}">
            <label>Categoría *</label>
            {{ form_widget(form.category, { 'required':'','name':'product[category]','id':'product_category','attr': {'class': 'form-control'} }) }}
            {% if(errors is not empty and errors.category is defined) %}
                <div class="help-block with-errors">
                    <ul class="list-unstyled">
                        <li>Rellene este campo.</li>
                    </ul>
                </div>
            {% endif %}
        </div>




        <div class="col-md-12 mt-5 text-center">
            <button type="submit" class="btn btn-primary mr-2">Editar {{ entityNames[0] }}</button>
        </div>
        {{ form_end(form) }}




        </form>




    </div>
</div>
{% include 'base/footer.html.twig' %}