
{% include 'base/header.html.twig' %}
{% include 'base/nav-sidebar.html.twig' %}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Detalle {{ entityNames[0] }} </h4>
                    </div>
                </div>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="{{errors is not empty and errors.username is defined ? 'form-group has-error has-danger' : 'form-group'  }}">
            <label>{{  form_label(form.username)}} *</label>
            {{ form_widget(form.username, { 'required':'', 'disabled' : 'disabled','name':'users[username]','id':'users_username','attr': {'class': 'form-control'} }) }}

            {% if(errors is not empty and errors.username is defined) %}
                <div class="help-block with-errors">
                    <ul class="list-unstyled">
                        <li>Rellene este campo.</li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div  style="visibility: hidden;display: none" class="{{ errors is not empty and errors.password is defined ? 'form-group has-error has-danger' : 'form-group'  }}">
            <label>{{  form_label(form.password)}} *</label>
            {{ form_widget(form.password, { 'type':'password', 'disabled' : 'disabled', 'required':'','name':'users[password]','id':'users_password','attr': {'class': 'form-control'} }) }}

            {% if(errors is not empty and errors.password is defined) %}
                <div class="help-block with-errors">
                    <ul class="list-unstyled">
                        <li>Rellene este campo.</li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>{{  form_label(form.active)}}</label>
            {{ form_widget(form.active, { 'required':'','disabled' :  'disabled', 'name':'users[active]','id':'users_active','attr': {'class': 'form-control','style':'max-width:80px'} }) }}

        </div>
        {{ form_end(form) }}




        </form>




    </div>
</div>
{% include 'base/footer.html.twig' %}